name: Deploy to VPS
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Connect to Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_CLIENT_SECRET }}
          tags: tag:ci
      
      - name: Imprimir variables (solo para debug temporal)
        run: |
          echo "HOST: ${{ secrets.TAILSCALE_SERVER_IP }}"
          echo "USERNAME: ${{ secrets.VPS_USER }}"
          echo "KEY (base64, copia y decodifica en tu PC):"
          echo "${{ secrets.VPS_SSH_KEY }}" | base64
      
      - name: Check SSH key length (debug)
        run: |
          echo "${{ secrets.VPS_SSH_KEY }}" | wc -c > length.txt
          cat length.txt
      
      - name: Conectar por SSH y desplegar
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.TAILSCALE_SERVER_IP }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /home/digeset-server
            git pull origin master
            docker compose down
            docker compose up -d --build
